In [2]:
import numpy as np
import pandas as pd
import csv

In [57]:
with open('data/class_score_en.csv', 'r') as f:
    f.readline()
    arr = []
    for line in f:
        ob = [int(s) for s in line.split(', ')]
        arr.append(ob)
    
    arr = np.array(arr)
    print(arr)

[[113  86]
 [104  83]
 [110  78]
 [101  79]
 [101  77]
 [103  76]
 [ 71  94]
 [102  71]
 [ 88  76]
 [101  72]
 [ 81  78]
 [ 84  78]
 [ 91  72]
 [107  65]
 [ 64  89]
 [ 78  86]
 [ 74  73]
 [117  45]
 [100  55]
 [105  53]
 [ 72  88]
 [ 87  73]
 [ 44  73]
 [ 66  81]
 [ 64  70]
 [ 86  51]
 [ 68  52]
 [ 47  66]
 [ 63  66]
 [ 51  57]
 [ 64  41]
 [ 54  49]
 [ 53  47]
 [ 92  29]
 [ 48  18]
 [ 42  36]
 [ 21  22]
 [ 55  55]
 [ 61  28]
 [ 50  35]
 [ 21   0]
 [ 45   0]
 [ 42   0]]

In [6]:
reader = pd.read_csv('data/class_score_en.csv')
# reader = np.array(reader)

reader

    # midterm (max 125)   final (max 100)
0                   113                86
1                   104                83
2                   110                78
3                   101                79
4                   101                77
5                   103                76
6                    71                94
7                   102                71
8                    88                76
9                   101                72
10                   81                78
11                   84                78
12                   91                72
13                  107                65
14                   64                89
15                   78                86
16                   74                73
17                  117                45
18                  100                55
19                  105                53
20                   72                88
21                   87                73
22                   44                73
23                   66                81
24                   64                70
25                   86                51
26                   68                52
27                   47                66
28                   63                66
29                   51                57
30                   64                41
31                   54                49
32                   53                47
33                   92                29
34                   48                18
35                   42                36
36                   21                22
37                   55                55
38                   61                28
39                   50                35
40                   21                 0
41                   45                 0
42                   42                 0

In [68]:
print(sum(arr == reader))

[43 43]